name: Build Jrebel Server

on: push
  #push:
  #  tags:
  #    - '*'
  #  branches:
  #    - master

env:
  doRelease: true
  tag: "ver20251111"
  ref: "main"

jobs:
  build-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.3

      - name: build linux amd64
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o build-bin/jrebel-license-active-server-linux_amd64 ./
      - name: build linux arm64
        run: CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o build-bin/jrebel-license-active-server-linux_arm64 ./
      - name: build mac amd64
        run: CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o build-bin/jrebel-license-active-server-darwin_amd64 ./
      - name: build mac arm64
        run: CGO_ENABLED=0 GOOS=darwin GOARCH=arm64 go build -o build-bin/jrebel-license-active-server-darwin_arm64 ./
      - name: build windows amd64
        run: CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o build-bin/jrebel-license-active-server-windows_amd64.exe ./

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: jrebel-active-server
          path: build-bin/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release artifacts
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build-bin/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  create_release:
    name: Create release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: [build-job]

    steps:
      - name: Fetch artifacts
        uses: actions/download-artifact@v4

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.tag }}
          name: N_m3u8DL-RE_${{ env.tag }}
          artifacts: "android-bionic-x64/*,android-bionic-arm64/*,linux-x64/*,linux-arm64/*,linux-musl-x64/*,linux-musl-arm64/*,osx-x64/*,osx-arm64/*,win-x64/*,win-arm64/*,win-NT6.0-x86/*"
          draft: false
          allowUpdates: true
          generateReleaseNotes: true
